<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My music</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<nav class="header">
    <div class="wrap-header">
        <div class="nav">
            <div class="nav-container-left">
                <div class="navbar-1">
                    <div><a class="navbar-brand" href="{% url 'player:index' %}">My music</a></div>
                    <div class="{% block albums_active %}{% endblock %}"><a href="{% url 'player:index' %}">Альбомы</a>
                    </div>
                    <div class="{% block songs_active %}{% endblock %}"><a
                            href="{% url 'player:songs' 'all' %}"><span class="simvol">🎷</span>Музыка</a>
                    </div>
                    <div class="navbar-2">
                        <form class="search-form" role="search" method="get" action="{% url 'player:index' %}">
                            <input type="text" class="form-control" name="q" value="{{ request.GET.q }}">
                            <button type="submit" class="btn-s">🔍</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="nav-container-right">
                <div class="navbar-3">
                    <a href="{% url 'player:create_album' %}">Добавить альбом</a>
                    <a href="{% url 'player:logout_user' %}"> Выйти</a>
                </div>
            </div>
        </div>
    </div>
</nav>
{% block body %}
{% endblock %}
</body>
</html>
