{% extends 'player/base.html' %}
{% block body %}
<div class="body">
    <div class="body-wrapper">
        <div class="songs">
            <button><a href="{% url 'player:songs'  %}">Вся музыка</a></button>
            <button><a href="{% url 'player:favorite'  %}">Избранное</a></button>
        </div>
        {% if favorite_songs %}
        <table class="">
            <thead>
            <tr>
                <th>Название</th>
                <th></th>
                <th>Альбом</th>
                <th>Удалить</th>
            </tr>
            </thead>
            <tbody>
            {% for song in favorite_songs %}
            <tr>
                <td>{{ song.audio_file }}
                </td>
                <td>
                    <div class="sound">
                        <a href="{{ song.audio_file.url }}">
                            <button type="button" class="btn-sound"><span style="color: #0ced41;">&#x25BA;</span> Play
                            </button>
                        </a>
                    </div>
                </td>
                <td>
                    <a href="{% url 'player:detail' song.album.id %}">
                        <img src="{{ song.album.album_logo.url }}" class="img-responsive"
                             style="width: 20px; float: left; margin-right: 10px;"/>
                    </a>
                    <a href="{% url 'player:detail' song.album.id %}">{{ song.album.album_title }}</a>
                </td>
                <td>
                    <form action="{% url 'player:favorite_remove' song.pk %}" method="POST" >
                        {% csrf_token %}
                        <button type="submit"  class="btn-sound" name="song_id" value="{{ song.id }}">
                            <span >&#x2716;</span>
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h3>Нет избранного</h3>
        {% endif %}
    </div>
</div>
{% endblock %}
