{% extends 'player/base.html' %}
{% block body %}
<div class="body">
    <div class="user-tit">
        <h3>{{ user.username }} Альбомы</h3>
    </div>
    <div class="body-wrap">
        {% if albums %}
        {% for album in albums %}
        <div class="album-wrap">
            <div class="album">
                <a href="{% url 'player:detail' album.id %}">
                    {% if album.album_logo %}
                    <img src="{{ album.album_logo.url }}" class="album-img">
                    {% else %}
                    <img src="{{ 'static/nones.png' }}" class="album-img">
                    {% endif %}
                </a>
                <div class="text">
                    <h2>{{ album.album_title }}</h2>

                    <button type="button"><a href="{% url 'player:detail' album.id %}" class="" role="button">
                        <span style="color: #0ced41;">&#x25BA;</span> Play</a></button>
                    <form action="{% url 'player:delete_album' album.id %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="album_id" value="{{ album.id }}"/>
                        <button type="submit" class=""><span class="">&#x2716;</span> Удалить
                        </button>
                    </form>
                    <!-- Favorite Album -->
                    <a href="{% url 'player:favorite_album' album.id %}" class="btn btn-default btn-sm btn-favorite"
                       role="button">
                        <span class="glyphicon glyphicon-star {% if album.is_favorite %}active{% endif %}"></span>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="album">
            <br>
            <a href="{% url 'player:create_album' %}">
                <button type="button" class="btn-visitor">+ Создать альбом</button>
            </a>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}
