{% extends 'player/base_visitor.html' %}
{% block login_active %}active{% endblock %}
{% block body %}
<div class="body">
    <div class="body-wrap">
        <div class="album-wrap">
            <div class="album">
                <h3>Войти</h3>
                <p>admin admin123456</p>
                <p>user1 user123456</p>
                {% if error %}
                <p><strong>{{ error }}</strong></p>
                {% endif %}
                <form action="" method="post">
                    {% csrf_token %}
                    {{form}}
                    <button type="submit" class="btn-visitor">Войти</button>
                </form>
                <div class="">
                    ВЫ еще не зарегистрированы? <a href="{% url 'player:register' %}">Регистрация</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

