{% extends 'player/base.html' %}
{% block body %}
<div class="body">
    <div class="body-wrapper">
        <div class="songs">
            <button><a href="{% url 'player:songs'  %}">Вся музыка</a></button>
            <button><a href="{% url 'player:favorite'  %}">Избранное</a></button>
        </div>
        <table class="">
            <thead>
            <tr>
                <th>Название</th>
                <th></th>
                <th>Альбом</th>
                <th>В избранное</th>
                <th>Скачать</th>
            </tr>
            </thead>
            <tbody>
            {% for song in song_list %}
            <tr>
                <td>{{ song.audio_file }}</td>
                <td>
                    <div class="sound">
                        <a href="{{ song.audio_file.url }}">
                            <button type="button" class="btn-sound"><span style="color: #0ced41;">&#x25BA;</span> Play
                            </button>
                        </a>
                    </div>
                </td>
                <td>
                    <a href="{% url 'player:detail' song.album.id %}">
                        <img src="{{ song.album.album_logo.url }}" class="img-responsive"
                             style="width: 20px; float: left; margin-right: 10px;"/>
                    </a>
                    <a href="{% url 'player:detail' song.album.id %}">{{ song.album.album_title }}</a>
                </td>
                <td>

                    {% include 'player/add_to_fav.html' %}

                </td>
                <td>
                    <div class="">
                        <a download="" href="{{ song.audio_file.url }}">
                            <button type="button" class="download"><span>&#8676;</span></button>
                        </a>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!--{% include 'player/player.html'%}-->
{% endblock %}
